[submodule "server"]
	path = server
	url = https://github.com/lefpap/honey-eshop-server.git
[submodule "ui-admin"]
	path = ui-admin
	url = https://github.com/lefpap/honey-eshop-admin-ui.git
[submodule "ui-customer"]
	path = ui-customer
	url = https://github.com/lefpap/honey-eshop-user-ui.git

